@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 10, 10, 10;
  --background-end-rgb: 18, 18, 18;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: 'Space Mono', monospace;
}

@layer utilities {
  .text-glow {
    text-shadow: 0 0 10px #00FFD1, 0 0 20px #00FFD1, 0 0 30px #00FFD1;
  }
  .neon-border {
    box-shadow: 0 0 5px #00FFD1, 0 0 10px #00FFD1;
  }
}